*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}
a{
text-decoration: none;
}
.wrapper{
background: whitesmoke;
}
h1{
font-size: 39px;
}
.hero{
width: 100%;
height: 100vh;
background-image: linear-gradient(to top, #ffffff27, #727070), url(./img/founder.jpg);
background-position:cover;
background-size: cover;
background-repeat: no-repeat;
position: relative;
}
header{
width: 100%;
display: flex;
position: fixed;
align-items: center;
justify-content: space-between;
background: #86e1f8;
z-index: 2;
padding: 0 65px 0 40px;
box-shadow: 0 40px 40px #00000080;
}
.logo{
width: 100px;
}
.logo img{
width: 100%;
}
nav{

}
.close-icon{
display: none;
}
ul{
    
}
li{
display: inline;
list-style: none;
margin-left: 25px;
}
li a{
color: white;
text-decoration: none;
font-size: 13px;
letter-spacing: 2px;
font-weight: 600;
text-transform: uppercase;
}
li .active{
color: black;
}
li a:hover{
text-decoration: underline;
color: black;
}
.btn{
height: 50px;
padding: 10px 20px;
border-radius: 5px;
background: #86e1f8;
align-items: center;
font-size: 12px;
letter-spacing: 2px;
font-weight: 600;
color: black;
text-transform: uppercase;
cursor: pointer;
transition: 0.8s;
border: transparent;
box-shadow: 0px 3px 5px #000b0a;
}
.btn:hover{
background: #6e6c6c;
color: white;
box-shadow: 0px 5px 10px #000b0a;
}
header .btn{
background: white;
color: black;
height: 50px;
width: 140px;
}
.menu-icon{
display: none;
}
header .btn:hover{
background: #6e6c6c;
color: white;
box-shadow: 0px 5px 10px #000b0a;
}
.hero-text{
width: 100%;
text-align: center;
position: absolute;
top: 50%;
}
.hero-text h1{
font-size: 2.8vw;
color: white;
margin-bottom: 20px;
text-transform: uppercase;
}
.hero-text h1 span{
color: #86e1f8;
font-family: 'Permanent Marker', cursive;
font-size: 4.5vw;
}
.hero-text .btn{
margin-top: 50px;
font-size: 10px;
}
#Vidsec{
width: 90%;
margin: 0 auto;
padding: 20px 20px;
}
#Vidsec h3{
padding: 20px 0;
font-size: 20px;
font-weight: 400;
}
.viddiv{
width: 100%;
padding: 20px 0;
}
.youtubee{
width: 80%;
height: 400px;
}
.text_img{
width: 80%;
text-align: center;
margin: 0 auto;
}
.text_img img{
float: right;
margin: 20px;
}
.text_img  p{
text-align: justify;
font-size: 16px;
line-height: 1.5;
}
.text_img  h6{
font-size: 17px;
font-weight: 600;
text-align: justify;
}
.imgdiv img{
float: left;
}

footer{
width: 100%;
text-align: center;
background: #86e1f8;
color: black;
padding: 0 20px;
}
footer p{
padding: 20px 0;
line-height: 1.7;
font-size:clamp(10px, 3.5vw, 14px);
font-weight: 600;
opacity: 0.8;
}


@media only screen and (max-width:770px){
  
    h1{
    font-size: 26px;
    }

   header{
    padding: 0;
    padding-right: 30px;
    animation: none;
   }
  
  nav{
  position: fixed;
  right: 0;
  top: 75px;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 1s ease-in-out;
  }
  ul{
  list-style: none;
  padding: 0;
  margin-top: 60px;
  padding-right: 20px;
  } 
  ul li{
  border-bottom: 1px solid #86e1f8;
  border-radius: 0px;
  display: block;
  transition: 1s;
  }
  ul li:hover{
  transform: translateX(-20px);
  }
  ul li a{
  font-size: 16px;
  color: #1d1c1c;
  display: block;
  padding: 20px 40px;
  }
  ul li a:hover{
  background: #777474e7;
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px #b0ced3;
  }
  header .btn{
  margin-right: 25px;
  }
  .menu-icon{
  display: block;
  cursor: pointer;
  }
  .hero{
    background-image: linear-gradient(to top, #ffffff27, #727070), url(./img/kid.jpg);
    }

    #Vidsec{
    width: 100%;
    }
    #Vidsec h3{
    font-size: 18px;
    }
    .viddiv{
    width: 100%;
    margin: 10px 10px;
    }
    .youtubee{
    width: 100%;
    }
    .text_img{
    width: 90%;
    }
  .open-nav{
    transform: translateX(0%);
  }

}


@keyframes introLoad{
  from{
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  to{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}