*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}
a{
text-decoration: none;
}
.wrapper{
background: whitesmoke;
}
h1{
font-size: 39px;
}
.hero{
width: 100%;
height: 100vh;
background-image: linear-gradient(to top, #ffffff27, #727070), url(./img/malaykidss.JPG);
background-position:cover;
background-size: cover;
background-repeat: no-repeat;
position: relative;
}
header{
width: 100%;
display: flex;
position: fixed;
align-items: center;
justify-content: space-between;
background: #86e1f8;
z-index: 2;
padding: 0 65px 0 40px;
box-shadow: 0 40px 40px #00000080;
}
.logo{
width: 100px;
}
.logo img{
width: 100%;
}
nav{

}
.close-icon{
display: none;
}
ul{
    
}
li{
display: inline;
list-style: none;
margin-left: 25px;
}
li a{
color: #000000;
text-decoration: none;
font-size: 13px;
letter-spacing: 2px;
font-weight: 600;
text-transform: uppercase;
}
li .active{
color: white;
}
li a:hover{
text-decoration: underline;
color: white;
}
.btn{
height: 50px;
padding: 10px 20px;
border-radius: 5px;
background: #86e1f8;
align-items: center;
font-size: 12px;
letter-spacing: 2px;
font-weight: 600;
color: black;
text-transform: uppercase;
cursor: pointer;
transition: 0.8s;
border: transparent;
box-shadow: 0px 3px 5px #000b0a;
}
.btn:hover{
background: #6e6c6c;
color: white;
box-shadow: 0px 5px 10px #000b0a;
}
header .btn{
background: white;
color: black;
height: 50px;
width: 140px;
}
.menu-icon{
display: none;
}
header .btn:hover{
background: #6e6c6c;
color: white;
box-shadow: 0px 5px 10px #000b0a;
}
.hero-text{
width: 100%;
text-align: center;
position: absolute;
top: 50%;
}
.hero-text h1{
font-size: 2.8vw;
color: white;
margin-bottom: 20px;
text-transform: uppercase;
font-family: 'Permanent Marker', cursive;
}
h1 span{
color: #86e1f8;
font-family: 'Permanent Marker', cursive;
font-size: 4.5vw;
font-weight: 300;
}
p span{
color: #86e1f8;
font-family: 'Permanent Marker', cursive;
}
.hero-text .btn{
margin-top: 50px;
font-size: 10px;
}
#non-profit{
width: 100%;
height: 100%;
background: linear-gradient(to bottom, #86e1f8, #86e1f8 50%, white 50%, white 100%);
padding: 50px 0 100px;
border: 5px solid white;
color: black;
}
#non-profit h1{
text-align: center;
padding: 30px 10px;
}
.row{
width: 80%;
display: grid;
gap: 25px;
grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
justify-content: center;
margin-top: 10px;
margin: 0 auto;
}
.coll{
width: 100%;
height: 300px;
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
justify-content: center;
background: whitesmoke;
border-radius: 0;
opacity: 2;
box-shadow: 0 10px 10px #514f4f80;
border-radius: 10px;
padding: 0px 10px;
}
.coll h3{
font-size: 25px;
font-weight: 600;
padding-bottom: 20px;
}
.coll p{
font-size: 15px;
font-weight: 600;
opacity: 0.5;
}
#Learn-more{
width: 100%;
height: 100%;
display: grid;
background-image:  linear-gradient(to left, #ffffff51, #8c969a), url(./img/shelter.jpg);
background-position: center;
background-size: cover;
padding: 100px 60px;
}
.learn-text{
height: 100%;
max-width: 700px;
}
.learn-text div h1{
padding-bottom: 10px;
font-size: 4vw;
}
.learn-text div p{
font-size: 14px;
font-weight: 600;
line-height: 1.7;
opacity: 0.9;
}
.learn-text .learn-first-p{
padding: 10px 0;
}
.learn-text .learn-second-p{
padding-bottom: 10px;
}
.learn-text div button{
margin-top: 30px;
}
#core-value{
width: 100%;
height: 100%;
padding: 0 0 100px;
background: #86e1f8;
}
#core-value h1{
text-align: center;
color: black;
padding: 50px 0;
text-transform: uppercase;
}
.Portfolio-grid{
width: 90%;
display: grid;
gap: 25px;
grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
justify-content: center;
margin-top: 10px;
margin: 0 auto;
}
.Portfolio-grid .col{
position: relative;
height: 430px;
color: white;
padding: 20px;
background-image: url(./img/john.jpg);
box-shadow: 0 10px 10px #00000080;
border-radius: 5px;
}
.Portfolio-grid .col .imgBx{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-image: url('./img/kids.jpeg');
background-position: center;
background-size: cover;
transition: 0.5s;
border-radius: 5px;
}
.Portfolio-grid .col .imgBx2{
background-image: url('./img/kkids.jpg');
}
.Portfolio-grid .col .imgBx3{
background-image: url('./img/kid.jpg');
}
.Portfolio-grid .col:hover .imgBx{
opacity: 0;
}
.Portfolio-grid  .col .content{
position: absolute;
bottom: 0px;
left: 0%;
width: 100%;
height: 20%;
text-align: center;
background: linear-gradient(to bottom,#777474e7 1%,#777474e7 5%,  #86e1f8 90%, #86e1f8 900%);
color: white;
transition: 1.5s;
overflow: hidden;
padding: 15px;
box-sizing: border-box;
opacity: 1;
border-radius: 0px;
}
.Portfolio-grid .col .content h4{
font-size: 25px;
line-height: 1.2;
margin: 0;
padding-bottom: 20px;
}
.Portfolio-grid .col .content-1 h4{
padding-bottom: 40px;
}
.Portfolio-grid .col .content p{
font-weight: 600;
line-height: 1.7;
}
.Portfolio-grid .col .content .btn{
background: #fafafa;
margin-top: 30px;
}
.Portfolio-grid .col:hover .content{
width: 100%;
height: 100%;
bottom: 0;
left: 0;
}
.Portfolio-grid .col .content .btn:hover{
background: #86e1f8;
margin-top: 40px;
}
#difference{
width: 100%;
height: 100%;
background-image: linear-gradient(to bottom, #0000004d, #86e1f8), url(./img/0_1YSQyo2vu6QlanS8.jfif);
background-size: cover;
background-position: cover;
text-align: center;
color: white;
padding: 70px 0px;
position: relative;
}
.diff-container{
max-width: 600px;
margin: 0 auto;
padding: 0 10px;
}
.diff-container h1{
font-size: 28px;
opacity: 0.8;
}
.diff-container p{
margin: 15px 0;
font-size: 13px;
line-height: 1.5;
}
#difference .diff-box{
width: 100%;
height: 250px;
display: flex;
justify-content: space-between;
align-items: center;
flex-direction: column;
background: linear-gradient(to bottom, white 0%, white 90%, transparent 50%, transparent  100%);
color: black;
margin: 0 auto;
padding: 0px 10px;
opacity: 0.9;
}
.diff-box p{
font-size:clamp(12px, 1vw, 18px);
font-weight: 600;
line-height: 1.5;
opacity: 0.9;
}
.diff-box h6{
font-size: 14px;
font-weight: 600;
opacity: 0.9;
}
.diff-box button{
height: 40px;
padding: 5px 10px;
font-size: 11px;
border: transparent;
}
.stats{
width: 100%;
height: 100%;
background: #86e1f8;
padding: 50px 0;
color: white;
}
.row2{
width: 80%;
display: grid;
gap: 40px;
padding: 30px 0;
grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
justify-content: center;
margin-top: 10px;
margin: 0 auto;
border-bottom: 3px solid #727070;
border-top: 3px solid #777474e7;
}
.col5{
text-align: center;
}
.col5 img{
width: 30%;
}
.col5 h1{
font-size:70px;
font-style: italic;
text-shadow: 3px 3px #b0ced3;
letter-spacing: -3px;
opacity: 0.9;
}
.col5 h5{
font-size: 18px;
opacity: 0.8;
}
#shelter{
width: 100%;
height: 100%;
}
.shelter-flex{
width: 90%;
height: 100%;
display: grid;
grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
gap: 40px;
margin: 100px auto;
}
.shelter-img img{
width: 100%;
height: 100%;
border-radius: 10px;
}
.shelter-text div h1{
padding-bottom: 20px;
}
.shelter-text div p{
font-size: 14px;
font-weight: 600;
line-height: 1.7;
opacity: 0.8;
padding-bottom: 10px;
}
.shelter-text div button{
margin-top: 20px;
}
footer{
width: 100%;
text-align: center;
background: #86e1f8;
color: black;
padding: 0 20px;
}
footer p{
padding: 20px 0;
line-height: 1.7;
font-size:clamp(10px, 3.5vw, 14px);
font-weight: 600;
opacity: 0.8;
}
.contact-hero{
height: 70vh;
}
.contact-text{
top: 40%;

}
.concard{
  width: 80%;
  height: 150px;
  background-color: whitesmoke;
  text-align: center;
  margin-top: 320px;
  position: absolute;
  left: 10%;
  /* padding: 50px 40px 0; */
  }
  .concard h6{
  font-size: 16px;
  font-weight: 500;
  padding: 20px 50px;
  }
  
  #form{
  width: 90%;
  background-color: whitesmoke;
  text-align: center;
  margin: 80px auto;
  }
  #form p{
  font-weight: 500;
  font-size: 20px;
  }
  
  form{
  background: #86e1f8;
  display: flex;
  flex-direction: column;
  padding: 40px 50px;
  max-width: 700px;
  border-radius: 10px;
  margin: 20px auto;
  }
  form input , form textarea{
  background: #f2efef;
  border: 0;
  margin: 10px 0;
  padding: 10px;
  outline: none;
  font-size: 15px;
  box-shadow: 0px 3px 5px #000b0a90;
  }
  form .btn{
  background: whitesmoke;
  padding: 10px;
  width: 170px;
  margin: 30px auto;
  }

  .first-container{
    width: 90%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px 0;
    margin: auto;
    }
    .first-cont-img{
    width: 80%;
    margin: auto;
    }
    .first-cont-img img{
    width: 100%;
    }
    .first-cont-text{
    width: 100%;
    margin: auto;
    }
    /* .first-container div:nth-child(2){
    } */
    .first-container-text{
      padding: 0 20px;
    }
    .first-container-text h1{
    font-size: clamp(1rem, 2.5vw, 2rem);
    font-weight: 400;
    line-height: 1.5;
    }
    .first-container-text p{
    float: right;
    }
    .founder_story{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #c8c4c4;
    padding: 40px 40px;
    color: black;
    margin-bottom: 50px;
    }
    .img-divv{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    .img-divv img{
    width: 80%;
    }
    .founder_text{
      width: 100%;
    }
    .founder_text h1{
    text-align: center;
    padding-bottom: 10px;
    }
    .founder_text h2{
    text-align: center;
    font-size: 43px;
    line-height: 1.3;
    font-weight: 400;
    padding: 0 10px 30px;
    }
    .founder_text p{
    font-size: 20px;
    line-height: 1.5;
    padding-bottom: 15px;
    }
    .founder_text a{
    font-size: 18px;
    }
    
    .believe{
    width: 70%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 100px;
    padding-top: 30px;
    }
    .believe h1{
    font-size: 2.3rem;
    text-align: center;
    margin-bottom: 30px;
    }
    .believe p{
    font-size: 22px;
    text-align: start;
    margin-bottom: 30px;
    }
    .believe .btn{
    width: 250px;
    font-size: 16px;
    margin-top: 20px;
    }
    .UN_container{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    background-image: linear-gradient(to left, #ffffff27, #727070), url(./img/team.jpg);
    background-position: center;
    background-size: cover;
    padding: 0 0px;
    }
    .UN_card{
    width: 600px;
    height: 350px;
    display: flex;
    background: whitesmoke;
    padding: 40px 20px;
    cursor: pointer;
    transition: 0.5s;
    margin-left: 5%;
    }
    .UN_card div{
    text-align: center;
    border-bottom: 1px solid white;
    }
    .UN_card div img{
    width: 40%;
    float: left;
    margin-right: 20px;
    background: #86e1f8;
    }
    .UN_card div h2{
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 10px;
    text-align: justify;
    }
    .UN_card div p{
    font-size: 18px;
    text-align: justify;
    }
    .UN_card:hover{
    background: #86e1f8;
    color: white;
    }
    .UN_card div:nth-child(2) h2:hover{
    border-bottom: 2px solid white;
    color: white;
    }
    .lastimg{
    width: 100%;
    height: 60vh;
    background-image: url(./img/water\ kids.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    margin-top: 20px;
    }
    .lastimg div{
    width: 100%;
    text-align: center;
    color: white;
    margin: 0 auto;
    position: absolute;
    bottom: 40px;
    }
    .lastimg div h1{
    font-size: 45px;
    padding: 20px 0;
    }
    
    .firstblog{
      margin: 80px 0 0 ;
      }
      /* .hero{
      height: 90vh;
      }
      .hero-text h1{
      color: white;
      margin-bottom: 20px;
      text-transform: uppercase;
      font-family: 'Permanent Marker', cursive;
      font-size: 4.5vw;
      font-weight: 300;
      }
      h1 span{
      color: #86e1f8;
      } */
      .Portfolio-grid .col .imgBx{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('./img/front.jpg');
      background-position: center;
      background-size: center;
      transition: 0.5s;
      border-radius: 10px;
      }
      
      .ecuador{
      width: 100%;
      height: 100%;
      padding: 120px 0 ;
      text-align: center;
      }
      
      .ecuador-wrap{
      width: 50%;
      margin: 0 auto;
      }
      .ecuador-wrap img{
      width: 100%;
      padding: 20px 0;
      }
      .ecuador-wrap h6, h1{
      text-align: center;
      padding: 15px;
      }
      .ecuador-wrap p{
      font-size: 15px;
      line-height: 2;
      }
      .ecuador-wrap .indicate{
      font-style: italic;
      padding-bottom: 30px;
      font-size: 13px;
      }
      .ecuador-wrap .btn{
      width: 200px;
      font-size: 14px;
      margin-top: 60px;
      align-items: center;
      }
      
      .things_2_know{
      padding-top: 70px;
      }
      ol{
      padding: 10px 30px;
      text-align: start;
      }
      ol li{
      font-size: 15px;
      display: list-item;
      list-style: decimal;
      margin-left: 25px;
      line-height: 1.7;
      padding-bottom: 10px;
      }

      


      #Vidsec{
        width: 90%;
        margin: 0 auto;
        padding: 20px 20px;
        }
        #Vidsec h3{
        padding: 20px 0;
        font-size: 20px;
        font-weight: 400;
        }
        .viddiv{
        width: 100%;
        padding: 20px 0;
        }
        .youtubee{
        width: 80%;
        height: 400px;
        }
        .text_img{
        width: 80%;
        text-align: center;
        margin: 0 auto;
        }
        .text_img img{
        float: right;
        margin: 20px;
        }
        .text_img  p{
        text-align: justify;
        font-size: 16px;
        line-height: 1.5;
        }
        .text_img  h6{
        font-size: 17px;
        font-weight: 600;
        text-align: justify;
        }
        .imgdiv img{
        float: left;
        }
        
        
@media only screen and (max-width:620px){
  .first-container{
    grid-template-columns: 1fr ;
    }
    .first-cont-text{
      padding-top: 40px;
      }
}        
@media only screen and (max-width:770px){
  
    h1{
    font-size: 26px;
    }

   header{
    padding: 0;
    padding-right: 30px;
    animation: none;
   }
  
  nav{
  position: fixed;
  right: 0;
  top: 75px;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 1s ease-in-out;
  }
  ul{
  list-style: none;
  padding: 0;
  margin-top: 60px;
  padding-right: 20px;
  } 
  ul li{
  border-bottom: 1px solid #86e1f8;
  border-radius: 0px;
  display: block;
  transition: 1s;
  }
  ul li:hover{
  transform: translateX(-20px);
  }
  ul li a{
  font-size: 16px;
  color: #1d1c1c;
  display: block;
  padding: 20px 40px;
  }
  li .active{
  background:#86e1f8;
  }
  ul li a:hover{
  background: #777474e7;
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px #b0ced3;
  }
  header .btn{
  margin-right: 25px;
  }
  .menu-icon{
  display: block;
  cursor: pointer;
  }
  .hero{
    background-image: linear-gradient(to top, #ffffff27, #727070), url(./img/kid.jpg);
    }
  #non-profit{
   background: #86e1f8;
    }
  #Learn-more{
    padding: 50px 20px;
  }
  .learn-text div h1{
    font-size: 25px;
  }

  form{
    background: #86e1f8;
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
    max-width: 700px;
    border-radius: 10px;
    margin: 20px auto;
    }

  form input , form textarea{
    background: #f2efef;
    border: 0;
    margin: 10px 0;
    padding: 10px;
    outline: none;
    font-size: 15px;
    box-shadow: 0px 3px 5px #000b0a90;
    }
    .founder_story{
      flex-direction: column;
    }
    .believe{
      width: 90%;
    }
    .ecuador-wrap{
      width: 80%;
      margin: 0 auto;
      }
      .contact-text{
        top: 50%;
      }

      #form{
        width: 90%;
        background-color: whitesmoke;
        text-align: center;
        margin: 120px auto 80px;
        }
     
      .concard{
        width: 100%;
        left: 0%;
      }
      .concard h6{
        font-size: 16px;
        font-weight: 500;
        padding: 20px 10px;
        }
       
        
        .UN_card{
          width: 90%;
        }
  .open-nav{
    transform: translateX(0%);
  }

}


@keyframes introLoad{
  from{
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  to{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}